{% extends '../wrapper.html' %}

{%  block content %}
    <div class="wrapper">
        <form class="form loginForm" method="post" action="">
            {% csrf_token %}
            <h2 class="title is-1">Вход</h2>
            <div class="control">
                <label class="label" for="">Имя пользователя</label>
                <input type="text" name="username" placeholder="admin" class="input">
            </div>
            <div class="control">
                <label class="label" for="">Пароль</label>
                <input type="password" name="password" placeholder="" class="input">
            </div>
            <button type="submit" class="button">Войти</button>
        </form>
    </div>
{% endblock %}