<aside class="menu">

    <div id="closeMenu">
        <img width="25px" src="/static/media/images/icons/close.png" alt="">
    </div>
    <div class="menu-wrapper">
        <p class="menu-label">
            Аккаунт
        </p>
        <ul class="menu-list">
            <li><a href="/info">Информация о сервисе</a></li>
            <li><a href="/#personalData">Персональные данные</a></li>
            <li><a href="/#personalNetworks">Социальные сети</a></li>
            <li><a href="/#personalPlans">Тарифы</a></li>

        </ul>
        <p class="menu-label">
            Взаимодействие с соцсетями
        </p>
        <ul class="menu-list">
            <li><a href="/analyze/marketing/">Маркетинговый анализ</a></li>
            <li><a href="/analyze/statistic/">Статистика по публикациям</a></li>
            <li><a href="/analyze/category/">Категориальный анализ</a></li>
            <li><a href="/description">Описание принципов работы</a></li>
        </ul>
        <p class="menu-label">
            Обратная связь
        </p>
        <ul class="menu-list">
            <li><a href="mailto:obgpsuper@gmail.com">Написать на почту</a></li>
            <li><a target="_blank" href="https://vk.com/gppetr">ВК</a></li>
            <li><a target="_blank" href="https://www.instagram.com/peter_govor/">Instagram</a></li>
        </ul>
    </div>

</aside>
