{% extends '../wrapper.html' %}

{% block content %}
    <h2 class="title is-2">Как работает наш алгоритм?</h2>
    <p class="about__paragraph">
        &emsp;Мы анализируем ваши соцсети и распределяем Ваши посты по разным категориям, чтобы понять,
        какой тип контента является наиболее интересным для Вашей аудитории.
        При анализе публикации наши алгоритмы учитывают такие показатели, как особенности Вашей аудитории, тренды
        на
        момент публикации и популярные запросы в поисковых системах. Для генерации отчёта по каждой публикации, в том
        числе и при анализе статьи на успешность, мы используем нейросетевые технологии. Наш алгоритм показыват высокую
        точность, т.к. учитывает все основные особенности и показатели.
    </p>

{% endblock %}
