{% extends '../wrapper.html' %}

{% block content %}
    <h2 class="title is-2">Информация о сервисе</h2>

    <span class="subtitle">
                    Концепция
                </span>
    <br>
    <p class="about__paragraph">
        Наша цель - помочь Вам с Вашим блогом и дать Вам возможность вести его максимально эффективно и с наибольшей
        отдачей от Вашей аудитории. Мы не можем сказать что точно Вам нужно делать, чтобы собрать фуры лайков и денег,
        но в двух вещах мы уверены на 100 процентов:


    <ol style="padding-left: 2%" class="points">
        <li>Во-первых, аудитории у всех вас разные, и к каждой нужен свой собственный, индивидуальный подход.</li>
        <li> Во-вторых, если Вы ведете блог в разных социальных сетях (например блог в Instagram, канал в Telegram), то
            в аудитории в
            этих блогах зачастую не пересекаются полностью и эти аудитории интересуют разные темы и разная стилистика
            подачи
            контента (к примеру в Телеграмме большинству нравятся около-айти темы, в то время как в фейсбуке людям
            больше
            нравится экономика
            Мы хотим помочь Вам определиться с контентом для ваших разных социальных сетей, и хотим мы это сделать не
            только
            информативно (как например Google Analytics), но также просто и понятно, чтобы Вам не приходилось тратить
            Ваше
            время.
        </li>
    </ol>



    </p>
    <br>
    <span class="subtitle">
                    Принцип работы
                </span>
    <br>
    <p class="about__paragraph">
        Для начала мы анализируем ваши соцсети и распределяем Ваши посты по разным категориям, чтобы можно было понять,
        какой тип контента является наиболее интересным для Вашей аудитории. А далее, если Вы хотите, Вы можете написать
        пост, проанализировать его (используя наши специальные алгоритмы) и понять стоит ли публиковать этот пост и где
        лучше это сделать.
    </p><br>
    <span class="subtitle">
                    С чего начать?
                </span>
    <br>
    <p class="about__paragraph">
        Вот несколько простых вещей которые Вам стоит сделать для ознакомления с нашим сервисом.
    </p>
    <ol style="padding-left: 2%" class="points">
        <li>
            Добавьте свои социальные сети :). Пожалуй, это с чего следует реально начать, тем более, чтобы это сделать
            Вам просто нужно вставить ссылку на <a href="/#personalNetworks">Вашу соцсеть</a>
        </li>
        <li>
            Посмотрите на данные Ваших блогов, особенно на то, какие категории контента пользуются популярностью в Вашем
            блоге и в мире
        </li>
        <li>
            Напишите новый пост и воспользуйтесь советом системы автоматического предсказания лайков (обещаем, Вы не
            пожалейте об этом)
        </li>
        <li>
            Развивайте свой блог и становитесь популярными :)
        </li>
    </ol>

{% endblock %}